<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://use.typekit.net/gmn8lva.css">
  <link rel="dns-prefetch" href="https://identity.netlify.com">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ renderData.title or title or metadata.title }}</title>
  <meta name="description" content="{{ metaDescription or renderData.metaDescription or summary or metadata.description }}">
  <script async src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@algolia/algoliasearch-netlify-frontend@1/dist/algoliasearchNetlify.css" />
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@algolia/algoliasearch-netlify-frontend@1/dist/algoliasearchNetlify.js"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com"> 
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
  <link href="https://fonts.googleapis.com/css2?family=Newsreader:ital,opsz,wght@0,6..72,200;0,6..72,300;0,6..72,400;0,6..72,500;0,6..72,600;0,6..72,700;0,6..72,800;1,6..72,200;1,6..72,300;1,6..72,400;1,6..72,500;1,6..72,600;1,6..72,700;1,6..72,800&display=swap" rel="stylesheet">

  <script type="text/javascript">
    algoliasearchNetlify({
      appId: 'NFCUGXTAJP',
      apiKey: '8f1a1aad37667d2ae5cc8ea9d5b996de',
      siteId: '719325ac-693a-44f4-afa0-8025dc0090c6',
      branch: 'master',
      selector: 'div#search',
    });
  </script>

  {% set css %}
    {% include "assets/css/normalize.css" %}
    {% include "assets/css/variables.css" %}
    {% include "assets/css/google-fonts.css" %}
    {% include "assets/css/base-styles.css" %}
    {% include "assets/css/utilites.css" %}
    {% include "assets/css/site-header.css" %}
    {% include "assets/css/site-footer.css" %}
    {% include "assets/css/blog.css" %}
    {% include "assets/css/projects.css" %}

    {% if page.url == '/' %}
      {% include "assets/css/home-page.css" %}
    {% endif %}

    {% if page.url == '/contact/' %}
      {% include "assets/css/contact.css" %}
    {% endif %}
  {% endset %}
  <style>{{ css | cssmin | safe }}</style>
  {% set js %}
    {% include "assets/js/inline.js" %}
  {% endset %}
  <script>{{ js | jsmin | safe }}</script>
</head>
